<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="products">
        <mat-icon>storefront</mat-icon>
        <label>Productos</label>
      </a>
      <a mat-list-item routerLink="orders">
        <mat-icon>inventory</mat-icon>
        <label>Ordenes</label>
      </a>
    </mat-nav-list>
    <mat-nav-list fxLayout="row" fxLayoutAlign="end end">
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        salir
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>pruebaTecnicaEvertecFront</span>
      <div fxFlex fxLayout="row" fxLayoutGap="20" fxLayoutAlign="end" fxHide.xs>
        <span>{{user.user}}</span>
        <img mat-card-avatar src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="">
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <mat-menu #orderMenu="matMenu"
              yPosition="below"
              xPosition="before">
      <button mat-menu-item routerLink="orders/current">
        <mat-icon>receipt</mat-icon>
        <label>generar orden</label>
      </button>
      <button mat-menu-item (click)="emptyCar()">
        <mat-icon>remove_shopping_cart</mat-icon>
        <label>vaciar carrito</label>
      </button>
    </mat-menu>
    <button mat-fab color="primary"
            matBadge="{{addedProducts}}"
            matBadgeColor="warn"
            *ngIf="order.products!.length > 0"
            [matBadgeHidden] = hideBadge
            [matMenuTriggerFor]="orderMenu"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
